* {
  box-sizing: border-box;
}
body {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  background-color: var(--color-light);
}

h1 {
  background-color: var(--color-secondary);
  border: 2px solid;
  border-radius: 1rem;
  font-weight: bold;
  text-indent: 30px;
  width: 50%;
}

p {
  font-weight: bold;
  font-size: 1.5rem;
  background-color: var(--color-secondary);
  border: 2px solid;
  width: 50%;
  text-indent: 40px;
}

/* Variable Declarartions for reusable styling*/
:root {
  --color-primary: #1b263b;
  --color-secondary: #afd0fe;
  --color-accent: #778da9;
  --color-light: #e2e6f3;
  --color-dark: #0d1b2a;
}
